# Dependency directories
node_modules/
npm-debug.*

# Development
sqlite/
build/
dist/
.expo/
dev/
./dev/sqlite
*.db

# Test
.jest/
coverage/

# Android studio
android/
*xml
*iml
app.json
.idea/

# iOS
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Environment variables
.env*
.*.env.*
.env

# Detox
artifacts/

# Diagnostic reports (https://nodejs.org/api/report.html)
report/


!.github/workflows/actions/build