# https://pnpm.io/npmrc#shamefully-hoist
shamefully-hoist=true # Default: false - Type: Boolean

# https://pnpm.io/npmrc#node-linker
# node-linker= #  Default: isolated - type: isolated, hoisted, pnp

# https://pnpm.io/npmrc#package-import-method
# package-import-method= # Default: auto - Type: auto, hardlink, copy, clone, clone-or-copy

# https://pnpm.io/npmrc#symlink
# symlink= # Default: true - Type: Boolean
