name: Node.js CI

on:
    push:
        branches: [main, dev]
    pull_request:
        # types: [opened, reopened]
        # types: [opened, synchronize, edited, ready_for_review]

jobs:
    build:
        runs-on: ubuntu-latest

        env:
            CI: true

        strategy:
            matrix:
                node-version: [18.x, 21.x]

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: npm
            - run: npm i
            - run: npm run lint

            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v3
              with:
                  token: ${{secrets.CODECOV_TOKEN}}
            - run: npm run test:coverage
